 body {
     width: 100%;
     height: 100%;
     background-color:#B71427;
    
 }
html{
    min-height: 100%;
    position: relative;
}
 #header {
     height: 350px;
     margin-left: -8px;
     text-align: center;
     background-color: #25274d;
     padding-top: 0;
     padding-bottom: 20;
     margin-top: -20px;
 }
 .footer {
     border-top: 1px solid black;
     background-color: #6DBDD6
   
 }
 table,
 th,
 td {
     width: 99%;
     border: 1px solid black;
     border-collapse: collapse;
 }

 table,
 td {
     background-color: lightcyan;
 }

 .menu {
     display: inline-flex;
     margin: left 40px;
     color: white;
 }

 p {
     margin: 40px;
     text-align: center;
     
 }

 ul{
     height: 70px;
 }



 #name {
     font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
     padding-top: 20px;
 }

 span {
     font-size: 22px;
 }